@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.fs{
    /* first-screen */
position: absolute;
width: 1920px;
height: 900px;
left: 0px;
top: 0px;
border: 1px solid rgba(255, 255, 255, 1)
}
.bgc {
    position: absolute;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url(.jpg), #EDEDED;
    background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%),
linear-gradient(0deg, #EDEDED, #EDEDED);

    
}
.btns{
    /* buttons */
position: absolute;
width: 415px;
height: 50px;
left: 752px;
top: 700px;
}

.frame1{
/* Frame 1 */


/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;

position: absolute;
width: 203px;
height: 50px;
left: 752px;
top: 700px;

background: #99862A;

}
.frame2{
    height: 50px;
width: 182px;
left: 985px;
top: 700px;
border-radius: 0px;
padding: 15px, 30px, 15px, 30px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;
position: absolute;
width: 182px;
height: 50px;
left: 985px;
top: 700px;
background: #99862A;
}
.mm{
    position: absolute;
    width: 1110px;
    height: 47px;
    left: 405px;
    top: 70px; 
    border: 1px solid rgba(255, 255, 255, 1)
}

.contact{
/* Контакты */

position: absolute;
width: 69px;
height: 21px;
left: 954px;
top: 5px;

/* text / 14r */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;
color: #FFFFFF;
}
.kolekcia{
   /* Коллекции */

   position: absolute;
   width: 82px;
   height: 21px;
   left: 670px;
   top: 2px;
   
   /* text / 14r */
   
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   /* identical to box height, or 21px */
   
   text-align: center;
   
   color: #FFFFFF;
}
.delivery{
/* Доставка */

position: absolute;
width: 68px;
height: 21px;
left: 415px;
top: 1px;

/* text / 14r */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

color: #FFFFFF;
}
.Catalog {
/* Каталог */

position: absolute;
width: 57px;
height: 21px;
left: 113px;
top: -4px;

/* text / 14r */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

color: #FFFFFF;
}
.line3{
    position: absolute;
    width: 46px;
    height: 0px;
    left: 675px;
    top: 94px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    border: 1px solid rgba(255, 255, 255, 1);
}
.line2{
    position: absolute;
width: 46px;
height: 0px;
left: 960px;
top: 94px;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
border: 1px solid rgba(255, 255, 255, 1);
}
.line1{
    position: absolute;
    width: 46px;
    height: 0px;
    left: 1245px;
    top: 94px;
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
    border: 1px solid rgba(255, 255, 255, 1);
    }  
    h5{
        /* винная карта */

position: static;
width: 143px;
height: 20px;
left: 30px;
top: 15px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
    }
h6{
    
position: static;
width: 122px;
height: 20px;
left: 30px;
top: 15px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* white */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.np{
    position: absolute;
width: 202px;
height: 20px;
left: 405px;
top: 30px;
}
h7{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    /* identical to box height, or 19px */
    
    
    color: #FFFFFF;    
}
.number{
    position: absolute;
width: 107px;
height: 20px;
left: 1408px;
top: 30px;
}
h8{
    /* text / 13m */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
/* identical to box height, or 19px */

text-align: right;

color: #FFFFFF;
}
.txt{
    position: absolute;
width: 1920px;
height: 856px;
left: 0px;
top: 900px;
/* black */
background: #282828;
}
.cupimage{

    position: absolute;
    width: 160px;
    height: 160px;
    left: 880px;
    top: 536px;
    
}
.maintext{
    position: absolute;
width: 733px;
height: 192px;
left: 595px;
top: 294px;
}
h9{
    /* text / 16r */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

color: #FFFFFF;
}
.luchsiyvkus{
    position: absolute;
width: 736px;
height: 54px;
left: 592px;
top: 150px;

}
h10{
    
    /* h2 / 36b */
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    
    text-align: center;
    
    color: #FFFFFF;
    
}
.line6{
    /* Line 6 */
position: absolute;
width: 160px;
height: 0px;
left: 880px;
top: 250px;
border: 1px solid rgba(255, 255, 255, 1);
}
.border{
    /* border */
position: absolute;
width: 1110px;
height: 656px;
left: 405px;
top: 100px;

border: 3px solid #C4C4C4;
border: 3px solid rgba(196, 196, 196, 1);
}
.slider{
    /* slider */


position: absolute;
width: 540px;
height: 758px;
left: 10px;
top: 140px;
}
.collection{
    /* collection */

position: absolute;
width: 1920px;
height: 1038px;
left: 0px;
top: 1756px;
background: #E6E3C4;
}
.collection1{
    position: absolute;
width: 540px;
height: 500px;
left: 975px;
top: 0px;

background: url(.jpg), #7B7B7B;
}
.collection2{
    /* Rectangle 12 */

position: absolute;
width: 255px;
height: 228px;
left: 975px;
top: 530px;

background: url(.jpg), #7B7B7B;
}
.collection3{
    /* Rectangle 13 */

position: absolute;
width: 255px;
height: 228px;
left: 1260px;
top: 530px;

background: url(.jpg), #7B7B7B;
}
.newcoll{
    /* Новинки коллекций */

position: absolute;
width: 347px;
height: 24px;
left: 405px;
top: 140px;
}
h11{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.groth{
    position: absolute;
width: 298px;
height: 108px;
left: 405px;
top: 170px;
}
h12{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
color: #282828;
}
.secondtext{
    position: absolute;
width: 445px;
height: 84px;
left: 405px;
top: 442px;
}
h13{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


/* black */

color: #282828;
}
.table{
    /* table */

position: absolute;
width: 460px;
height: 230px;
left: 405px;
top: 552px;
}
.vine1{/* Colli Euganei Bianco Ca' Lustra 1980 */


    position: absolute;
    width: 303px;
    height: 27px;
    left: 130px;
    top: 0px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    
    
    /* black */
    
    color: #282828;}
.vine2{/* Colli Euganei Bianco Ca' Lustra 1980 */


    position: absolute;
    width: 303px;
    height: 27px;
    left: 130px;
    top: 71px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    
    
    /* black */
    
    color: #282828;}
.vine3{/* Colli Euganei Bianco Ca' Lustra 1980 */


    position: absolute;
    width: 303px;
    height: 27px;
    left: 130px;
    top: 143px;
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    
    
    /* black */
    
    color: #282828;}
.vine4{/* Красочная бутылка вина из Марселя */


    position: absolute;
    width: 271px;
    height: 21px;
    left: 133px;
    top: 42px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}
.vine5{position: absolute;
    width: 271px;
    height: 21px;
    left: 133px;
    top: 113px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}
.vine6{
    position: absolute;
    width: 271px;
    height: 21px;
    left: 133px;
    top: 180px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}
.vine7{
    position: absolute;
    width: 32px;
    height: 21px;
    left: 40px;
    top: 25px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}
.vine8{position: absolute;
    width: 32px;
    height: 21px;
    left: 41px;
    top: 97px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}
.vine9{position: absolute;
    width: 32px;
    height: 21px;
    left: 41px;
    top: 160px;
    
    /* text / 14r */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* black */
    
    color: #282828;}

    .table-line1{
        position: absolute;
        width: 228px;
        height: 0px;
        left: 0px;
        top: 110px;
        
        /* black */
        
        background: #282828;
        /* black */
        
        border: 1px solid #282828;
        transform: rotate(90deg);
    }
    .table-line2{
        position: absolute;
width: 445px;
height: 0px;
left: 0px;
top: 75px;

/* black */

background: #282828;
/* black */

border: 1px solid #282828;
    }
    .table-line3{
        position: absolute;
        width: 445px;
        height: 0px;
        left: 0px;
        top: 150px;
        
        /* black */
        
        background: #282828;
        /* black */
        
        border: 1px solid #282828;
    }
    .lorem{
    position: absolute;
    width: 445px;
    height: 84px;
    left: 0px;
    top: 247px;
    }
    .text1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #282828;
    }
    .line4{
        position: absolute;
width: 160px;
height: 0px;
left: 405px;
top: 400px;

/* black */

background: #282828;
/* black */

border: 1px solid #282828;
    }
    .check-info{
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;

position: absolute;
width: 254px;
height: 50px;
left: 0px;
top: 360px;

/* accent */

background: #998431;
    }
    .bot-line{
        position: absolute;
width: 1110px;
height: 0px;
left: 0px;
top: 480px;

/* accent */

border: 1px solid #998431;
    }
.form{
    position: absolute;
width: 1920px;
height: 767px;
left: 0px;
top: 1000px;
background: #282828;
}
.border-form{
    position: absolute;
width: 1110px;
height: 538px;
left: 405px;
top: 129px;

border: 3px solid #C4C4C4;
box-sizing: border-box;
}
.head-text{
    position: static;
width: 390px;
height: 54px;
left: 715px;
top: 100px;
}
.text5{
    position: absolute;
    width: 390px;
    height: 54px;
    left: 765px;
    top: 140px;
   vertical-align: middle;
    
    /* h2 / 36b */
    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    
    text-align: center;
    
    /* white */
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}
.text-side{
    position: absolute;
width: 539px;
height: 72px;
left: 691px;
top: 234px;
}
.text6{
    /* text / 16r */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* white */

color: #FFFFFF;
}
.name-text{
    position: absolute;
width: 254px;
height: 20px;
left: 691px;
top: 387px;

/* text / 13m */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
/* identical to box height, or 19px */


/* white */

color: #FFFFFF;
background-color: #282828;
}
.name-text2{
    position: absolute;
width: 254px;
height: 20px;
left: 976px;
top: 387px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
color: #FFFFFF;
background-color: #282828;
}
.name-text3{
    position: absolute;
width: 255px;
height: 20px;
left: 691px;
top: 457px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
color: #FFFFFF;
background-color: #282828;
}
.line13{
    position: absolute;
width: 260px;
height: 0px;
left: 690px;
top: 423px;

/* white */

border: 1px solid #FFFFFF;
}
.line14{
    position: absolute;
width: 260px;
height: 0px;
left: 975px;
top: 423px;

/* white */

border: 1px solid #FFFFFF;
}
.line15{
    position: absolute;
    width: 545px;
    height: 0px;
    left: 690px;
    top: 493px;
    
    /* white */
    
    border: 1px solid #FFFFFF;
}
.vinograd{
    position: absolute;
width: 260px;
height: 260px;
left: 375px;
top: 60px;

background:#282828;
}
.bochka{
    position: absolute;
width: 260px;
height: 200px;
left: 1308px;
top: 60px;

background: #282828;
}
.footer{
    position: absolute;
width: 1920px;
height: 220px;
left: 0px;
top: 1765px;

/* accent */

background: #998431;
}
.main{
    position: absolute;
    width: 58px;
    height: 21px;
    left: 500px;
    top: 58px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    text-align: center;
    
    /* white */
    
    color: #FFFFFF;}
.katalog{
    position: absolute;
    width: 57px;
    height: 21px;
    left: 618px;
    top: 58px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    text-align: center;
    
    /* white */
    
    color: #FFFFFF;}
.postav{
    position: absolute;
    width: 92px;
    height: 21px;
    left: 735px;
    top: 58px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}
.collection4{
    position: absolute;
    width: 82px;
    height: 21px;
    left: 887px;
    top: 58px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}
.degustation{
    position: absolute;
    width: 85px;
    height: 21px;
    left: 1029px;
    top: 58px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}
.col2020{
    position: absolute;
    width: 119px;
    height: 21px;
    left: 1174px;
    top: 58px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}
.contact-us{
    position: absolute;
    width: 69px;
    height: 21px;
    left: 1393px;
    top: 58px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}
.footer-butik{
    position: absolute;
    width: 200px;
height: 21px;
left: 500px;
top: 125px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.foter-number{
    position: absolute;
    left: 815px;
}
.footer-coop{
    position: absolute;
    left: 1308px;
}
.yt{
    position: absolute;
    top: 125px;
    left: 1047px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
/* identical to box height, or 21px */
color: #FFFFFF;
}
.vk{
    position: absolute;
    top: 125px;
    left: 1108px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
/* identical to box height, or 21px */
color: #FFFFFF; 
}
.fb{
    position: absolute;
    top: 125px;
    left: 1175px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
/* identical to box height, or 21px */
color: #FFFFFF; 
}
.footer-line1{
    position: absolute;
width: 1110px;
height: 0px;
left: 405px;
top: 50px;

/* white */

border: 1px solid #FFFFFF;
}
.footer-line2{
    position: absolute;
width: 1110px;
height: 0px;
left: 405px;
top: 110px;

/* white */

border: 1px solid #FFFFFF;
}
.footer-line3{
    position: absolute;
width: 1110px;
height: 0px;
left: 405px;
top: 170px;

/* white */

border: 1px solid #FFFFFF;
}
.footer-line4{
    position: absolute;
    width: 59px;
    height: 0px;
    left: 755px;
    top: 140px;
    
    /* white */
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}
.footer-line5{
    position: absolute;
width: 59px;
height: 0px;
left: 990px;
top: 140px;

/* white */

border: 1px solid #FFFFFF;
transform: rotate(90deg);
}
.footer-line6{
    position: absolute;
    width: 59px;
    height: 0px;
    left: 1250px;
    top: 140px;
    
    /* white */
    
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}
.form-button{
    position: absolute;
    width: 1920px;
    height: 767px;
    left: 0px;
    top: 554px;
    
    background: #282828;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 30px;

position: absolute;
width: 548px;
height: 50px;
left: 682px;
top: 554px;

/* white */

border: 1px solid #FFFFFF;
box-sizing: border-box;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

/* white */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}